# Data Transform

In this notebook, we will ask you a series of questions to evaluate your findings from your EDA. Based on your response & justification, we will ask you to also apply a subsequent data transformation. 

If you state that you will not apply any data transformations for this step, you must **justify** as to why your dataset/machine-learning does not require the mentioned data preprocessing step.

The bonus step is completely optional, but if you provide a sufficient feature engineering step in this project we will add `1000` points to your Kahoot leaderboard score.

You will write out this transformed dataframe as a `.csv` file to your `data/` folder.

**Note**: Again, note that this dataset is quite large. If you find that some data operations take too long to complete on your machine, simply use the `sample()` method to transform a subset of your data.

In [1]:
import pandas as pd 
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# import data
transactions_data = pd.read_csv('../data/bank_transactions.csv')

# shows the first 5 rows of our transactions dataset
transactions_data.head()

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,PAYMENT,983.09,C1454812978,36730.24,35747.15,M1491308340,0.00,0.00,0,0
1,PAYMENT,55215.25,C1031766358,99414.00,44198.75,M2102868029,0.00,0.00,0,0
2,CASH_IN,220986.01,C1451868666,7773074.97,7994060.98,C1339195526,924031.48,703045.48,0,0
3,TRANSFER,2357394.75,C458368123,0.00,0.00,C620979654,4202580.45,6559975.19,0,0
4,CASH_OUT,67990.14,C1098978063,0.00,0.00,C142246322,625317.04,693307.19,0,0

In [3]:
# indentifies the columns of our transactions dataset
transactions_data.columns

Index(['type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [4]:
# Shows any missing values or data in our sampled data
transactions_data.isnull().sum()

type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

## Q1

Does your model contain any missing values or "non-predictive" columns? If so, which adjustments should you take to ensure that your model has good predictive capabilities? Apply your data transformations (if any) in the code-block below.

Based on our bank transactions csv file, we do not have any missing values in our dataset. There are a few "non-predictive" columns that would need to be removed as they would not provide a good preditive capabilitiy for our models. The "non-predictive" columns that would need to be dropped from our dataset are **NameOrig** and **NameDest**.

In [5]:
# Drop non-predictive columns
transaction_updated = transactions_data.drop(columns = ['nameOrig', 'nameDest'])

# Confirm changes
transaction_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   type            1000000 non-null  object
 1   amount          1000000 non-null  float64
 2   oldbalanceOrg   1000000 non-null  float64
 3   newbalanceOrig  1000000 non-null  float64
 4   oldbalanceDest  1000000 non-null  float64
 5   newbalanceDest  1000000 non-null  float64
 6   isFraud         1000000 non-null  int64
 7   isFlaggedFraud  1000000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 61.0+ MB

In [6]:
# shows the first 5 rows of our updated transactions dataset
transaction_updated.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,PAYMENT,983.09,36730.24,35747.15,0.00,0.00,0,0
1,PAYMENT,55215.25,99414.00,44198.75,0.00,0.00,0,0
2,CASH_IN,220986.01,7773074.97,7994060.98,924031.48,703045.48,0,0
3,TRANSFER,2357394.75,0.00,0.00,4202580.45,6559975.19,0,0
4,CASH_OUT,67990.14,0.00,0.00,625317.04,693307.19,0,0

In [ ]:
# creates a sample dataset of our originial dataset
sampled_transactions = transaction_updated.sample(n= 10000, random_state=42)
sampled_transactions

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
987231,CASH_IN,54152.03,42823.36,96975.39,11438021.32,10695480.59,0,0
79954,CASH_IN,279331.66,8385167.08,8664498.74,394276.66,114945.00,0,0
567130,CASH_OUT,185673.97,0.00,0.00,396994.01,582667.97,0,0
500891,CASH_OUT,128216.41,12158.00,0.00,17406313.64,17534530.05,0,0
55399,PAYMENT,17567.71,104890.00,87322.29,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...
686403,CASH_OUT,78926.15,102437.37,23511.22,207633.04,286559.18,0,0
100678,TRANSFER,195295.69,16074.00,0.00,533119.14,898427.05,0,0
488468,TRANSFER,1686446.28,62814.68,0.00,4453613.81,6140060.09,0,0
583782,CASH_OUT,372339.73,0.00,0.00,4261040.76,4633380.49,0,0
551383,PAYMENT,739.90,14205.00,13465.10,0.00,0.00,0,0

## Q2

Do certain transaction types consistently differ in amount or fraud likelihood? If so, how might you transform the type column to make this pattern usable by a machine learning model? Apply your data transformations (if any) in the code-block below.

Yes. There are certain transactions types that consistenly differ in amount or fraud likelihood. The transaction types are **Cash_out** and **Transfer**. We can tranform the type columns to make thesse more usable for machine learning models by one hot encoding the values in the two transactions types in our dataset.

In [8]:
# This line turns the string of mulitple categories into a list 
encoded_type = sampled_transactions['type'].str.split(',')

# this one hot encodes the column contaning lists into multiple rows containing a category
dummy_type = pd.get_dummies(encoded_type.explode())

# This puts together those seperate rows keeping the one hot encoded values 
dummy_type = dummy_type.groupby(dummy_type.index).max()
dummy_type

        CASH_IN  CASH_OUT  DEBIT  PAYMENT  TRANSFER
78         True     False  False    False     False
102        True     False  False    False     False
185       False      True  False    False     False
423       False      True  False    False     False
785       False     False   True    False     False
...         ...       ...    ...      ...       ...
999025    False     False  False     True     False
999029    False      True  False    False     False
999378    False      True  False    False     False
999560    False     False  False     True     False
999592     True     False  False    False     False

[10000 rows x 5 columns]

## Q3

After exploring your data, you may have noticed that fraudulent transactions are rare compared to non-fraudulent ones. What challenges might this pose when training a machine learning model? What strategies could you use to ensure your model learns meaningful patterns from the minority class? Apply your data transformations (if any) in the code-block below.

After our analysis, we can see that there is a overwhelming amount of transactions thare considered not fraud compared to actually fraudlent transactions. This will result in all of the transaction types to be labeled as being non-fraulent because of the smalle amount of actually fraudlent transactions in our dataset. The strategies that we could use to ensure that our models learn meaningful patterns from our minority class is create a sample of our instances to help with overfitting of the dataset.

In [9]:
# combines our sampled transactions data set and our dummy transactions types
transactions_transform =  pd.concat([sampled_transactions,dummy_type], axis = 1)
transactions_transform

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CASH_IN,CASH_OUT,DEBIT,PAYMENT,TRANSFER
987231,CASH_IN,54152.03,42823.36,96975.39,11438021.32,10695480.59,0,0,True,False,False,False,False
79954,CASH_IN,279331.66,8385167.08,8664498.74,394276.66,114945.00,0,0,True,False,False,False,False
567130,CASH_OUT,185673.97,0.00,0.00,396994.01,582667.97,0,0,False,True,False,False,False
500891,CASH_OUT,128216.41,12158.00,0.00,17406313.64,17534530.05,0,0,False,True,False,False,False
55399,PAYMENT,17567.71,104890.00,87322.29,0.00,0.00,0,0,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
686403,CASH_OUT,78926.15,102437.37,23511.22,207633.04,286559.18,0,0,False,True,False,False,False
100678,TRANSFER,195295.69,16074.00,0.00,533119.14,898427.05,0,0,False,False,False,False,True
488468,TRANSFER,1686446.28,62814.68,0.00,4453613.81,6140060.09,0,0,False,False,False,False,True
583782,CASH_OUT,372339.73,0.00,0.00,4261040.76,4633380.49,0,0,False,True,False,False,False
551383,PAYMENT,739.90,14205.00,13465.10,0.00,0.00,0,0,False,False,False,True,False

In [15]:
transactions_transform = transactions_transform.drop(columns ="type")
transactions_transform

,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud,CASH_IN,CASH_OUT,DEBIT,PAYMENT,TRANSFER
987231,54152.03,42823.36,96975.39,11438021.32,10695480.59,0,0,True,False,False,False,False
79954,279331.66,8385167.08,8664498.74,394276.66,114945.00,0,0,True,False,False,False,False
567130,185673.97,0.00,0.00,396994.01,582667.97,0,0,False,True,False,False,False
500891,128216.41,12158.00,0.00,17406313.64,17534530.05,0,0,False,True,False,False,False
55399,17567.71,104890.00,87322.29,0.00,0.00,0,0,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
686403,78926.15,102437.37,23511.22,207633.04,286559.18,0,0,False,True,False,False,False
100678,195295.69,16074.00,0.00,533119.14,898427.05,0,0,False,False,False,False,True
488468,1686446.28,62814.68,0.00,4453613.81,6140060.09,0,0,False,False,False,False,True
583782,372339.73,0.00,0.00,4261040.76,4633380.49,0,0,False,True,False,False,False
551383,739.90,14205.00,13465.10,0.00,0.00,0,0,False,False,False,True,False

In [17]:
# shows the shape of our updated dataset
transactions_transform.shape

(10000, 12)

In [18]:
# Shows the infomation of the sampled data
transactions_transform.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 987231 to 551383
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   amount          10000 non-null  float64
 1   oldbalanceOrg   10000 non-null  float64
 2   newbalanceOrig  10000 non-null  float64
 3   oldbalanceDest  10000 non-null  float64
 4   newbalanceDest  10000 non-null  float64
 5   isFraud         10000 non-null  int64
 6   isFlaggedFraud  10000 non-null  int64
 7   CASH_IN         10000 non-null  bool
 8   CASH_OUT        10000 non-null  bool
 9   DEBIT           10000 non-null  bool
 10  PAYMENT         10000 non-null  bool
 11  TRANSFER        10000 non-null  bool
dtypes: bool(5), float64(5), int64(2)
memory usage: 931.9 KB

## Bonus (optional)

Are there interaction effects between variables (e.g., fraud and high amount and transaction type) that aren't captured directly in the dataset? Would it be helpful to manually engineer any new features that reflect these interactions? Apply your data transformations (if any) in the code-block below.

Answer Here

In [19]:
# write out newly transformed dataset to your folder
transactions_transform.to_csv("transformed_transactions.csv", index=False)